doctype html
html
    head
        title Aria
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width")
        link(href="css/style.css" rel="stylesheet")
        link(href="icons/material.css" rel="stylesheet")
        link(href="img/favicon.png" rel="icon")
    body
        h1.title Aria is waiting a friendly arduino...
        a(href="#" class="settings-button") 
            i.material-icons settings
        div.settings
            h1 hue
        script(src="socket.io/socket.io.js")
        script.
            var socket = io();
        script(src="js/init.js")
        script(src="js/settings.js")
        script(src="js/app.js")