doctype html
html
    head
        title Aria
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width")
        link(href="css/style.css" rel="stylesheet")
        link(href="icons/material.css" rel="stylesheet")
        link(href="img/favicon.png" rel="icon")
    body
        h1.title Aria is waiting an arduino...
        a(href="#" class="settings-button") 
            i.material-icons settings
        div.settings.hidden
            div 
                h3 General settings
                form.container
                    label(for="checkboxer") Wait for arduino?
                    label(for="arduino-yes") Yes
                    input(type="radio" value="yes" name="wait-arduino" id="arduino-yes" checked)
                    label(for="arduino-no") No
                    input(type="radio" value="no" name="wait-arduino" id="arduino-no")
                    button(type="submit" id="general-settings") Set general configurations
            div
                h3 Arduino settings
                form.container
                    input(type="number" class="redPin" placeholder="Set a pin to control red (default is 8)")
                    input(type="number" class="greenPin" placeholder="Set a pin to control green (default is 9)")
                    input(type="number" class="bluePin" placeholder="Set a pin to control blue (default is 10)")
                    button(type="submit" id="arduino-settings") Set arduino configurations
        script(src="socket.io/socket.io.js")
        script.
            var socket = io();
        script(src="js/init.js")
        script(src="js/settings.js")
        script(src="js/app.js")