doctype html
html
    head
        title Aria
        meta(charset="utf-8")
        link(href="css/style.css" rel="stylesheet")
        link(href="img/favicon.png" rel="icon")
    body
        h1.title Aria is waiting a friendly arduino...
        script(src="socket.io/socket.io.js")
        script.
            var socket = io();
        script(src="js/init.js")
        script(src="js/app.js")