doctype html
html
    head
        title Aria
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width")
        link(href="css/style.css" rel="stylesheet")
        link(href="icons/material.css" rel="stylesheet")
        link(href="img/favicon.png" rel="icon")
    body
        canvas#board
        script(src="socket.io/socket.io.js")
        script.
            var socket = io();
        script(src="js/board.js")
        script(src="js/init.js")
        script(src="js/app.js")
