doctype html
html
    head
        title Aria
        meta(charset="utf-8")
        link(href="css/style.css" rel="stylesheet")
    body
        script(src="socket.io/socket.io.js")
        script.
            var socket = io();
        script(src="js/jquery.js")
        script(src="js/init.js")
        script(src="js/app.js")