body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: white;
    text-align: center;
    font-family: sans-serif;
    background-color: black;
}

.title {
    position: absolute;
    top:45%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 300%;
}

.settings-button {
    position: absolute;
    top: 5%;
    right: 5%;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

.settings {
    height: 30%;
    background-color: white;
    color: black;
    position: absolute;
    transition: all 0.3s ease-in-out;
    top: 70%;
    border-top: 10px solid #555;
    left: 0;
    right: 0;
}

.settings.hidden {
    top: 100%;
}

.settings .column {
    text-align: center;
    margin-top: 0.5em;
    width: 100%;
    display: inline-block;
    float: left;
}

@media(min-width: 700px) {
    .settings .column {
        width: 50%;
    }
}

form input {
    width: 100%;
    margin-bottom: 0.3em;
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
